<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/style.css">
    {% if site.favicon and site.favicon != "" %}
      <link rel="shortcut icon" href="{{ site.favicon }}" type="image/png" />
    {% endif %}

    <script>
      function GetURLParameter(sParam)
      {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) 
        {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam) 
          {
            return sParameterName[1];
          }
        }
      }

      function genI(v)
      {
        var vCheck = v.length
        var rawInv = [0, 21, 23, 27, 27, 91, 76, 68, 12, 8, 16, 8, 7, 19, 7, 69, 15, 6, 76, 8, 94, 37, 21, 83, 32, 48, 5, 40, 91];
        var key = [104, 97, 99, 107]  
        var inv = "";
        for (var i = 0; i < rawInv.length; i++)
        {
          inv += String.fromCharCode(rawInv[i] ^ key[i % key.length] + vCheck)
        }
      }

      function init(){
        var giveInvite = GetURLParameter('invite');
        if(giveInvite)
        {
          alert(genI(giveInvite));
        }
      }

      window.onload = init;
    </script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <nav>
          <ul>
            <li><a href="/index.html" class="enabled" title="Home" rel="home" accesskey="i"><span>H</span>ome</a></li>
            <li><a href="{{ site.baseurl }}/about.html" class="enabled" title="about" rel="about" accesskey="h"><span>A</span>bout</a></li>
            <li><a href="{{ site.baseurl }}/hack.html" class="enabled" title="hack" rel="hack" accesskey="h"><span>H</span>ack</a></li>
            <li><a href="{{ site.baseurl }}/posts.html" class="enabled" title="Posts by Category" rel="posts" accesskey="c"><span>P</span>osts</a></li>
            <!-- <li><a href="{{ site.baseurl }}" id="retrace" class="disabled" title="Back" onclick="retrace()" accesskey="r"><span>R</span>etrace</a></li> --!> 
          {% if page.previous %}
            <li><a href="{{ site.baseurl}}{{ page.previous.url }}" class="enabled" title="Older: {{ page.previous.title }}" rel="prev" accesskey="p">Browse <span>&laquo;</span></a></li>
          {% else %}
            <li><a class="disabled" accesskey="p">Browse <span>&laquo;</span></a></li>
          {% endif %}
          {% if page.next %}
            <li><a href="{{ site.baseurl}}{{ page.next.url }}" class="enabled" title="Newer: {{ page.next.title }}" rel="next" accesskey="n">Browse <span>&raquo;</span></a></li>
          {% else %}
            <li><a class="disabled" accesskey="n">Browse <span>&raquo;</span></a></li>
          {% endif %}
          </ul>
        </nav>
      </header>

      {{content}}
  
    </div>
  </body>
</html>
